{% layout "server/layouts/base.liquid" %}

{% block content %}

<div class="home-page">

<header>
  <h2>Welcome to the Pokémon Memory Game!</h2>
  <p>Pick a Pokémon to start playing.</p>
  <p>Win cards for pokémon as you go. Gotta match 'em all!</p>
</header>

<section class="select">

  <!-- Search + Grid -->
  <section class="select-poke">
    
    <!-- Search Form -->
    <form method="get" action="/">
      <input type="search" id="search" placeholder="Search Pokémon..." name="searchbar">
      <button type="submit">Search</button>
    </form>
    
    <!-- Pokémon Grid -->
    <div class="pokemon-grid">
      <ul id="pokemon-grid" class="list">
        {% if pokemon.size > 0 %}
          {% for pokemon in pokemon %}
            <li class="list-item">
              <a href="/pokemon/{{ pokemon.name }}/memory-game">
                <img src="{{ pokemon.sprite }}" alt="{{ pokemon.name }}">
                <p class="name">{{ pokemon.name }}</p>
              </a>
            </li>
          {% endfor %}
        {% else %}
          <p>No Pokémon found. Try another search!</p>
        {% endif %}
      </ul>
    </div>
          
  </section>
          
</section>

</div>

{% endblock %}